<!DOCTYPE html>
<html lang="en">
<head>
<title>MEMO PAPER</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Artistic Error Page Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<link href="../css/style_404.css" rel="stylesheet" type="text/css" media="all" />
<!-- /css files -->
</head>
  <body>
    <%- body %>
  </body>
</html>
