<div class="admin-main">

	<blockquote class="layui-elem-quote">
		<a class="layui-btn layui-btn-small" id="add">
			<i class="layui-icon">&#xe608;</i> Add Memo Entry
		</a>
		<a href="javascript:add_item();" class="layui-btn layui-btn-small">
			<i class="layui-icon">&#xe608;</i> Add in detail
		</a>
		<a href="javascript:layer.alert('Not implete yet');" class="layui-btn layui-btn-small" id="search">
			<i class="layui-icon">&#xe615;</i> search
		</a>
	</blockquote>
	<fieldset class="layui-elem-field">
		<legend>memorandum</legend>
		<div class="layui-field-box">
			<table class="site-table table-hover">
				<thead>
					<tr>
						<th><input type="checkbox" id="selected-all"></th>
						<th>所属分类</th>
						<th>内容</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="text-align:center;"><i class="layui-icon" style="color:green;"></i></td>
						<td>Layui</td>
						<td>
							<a href="/manage/article_edit_1">写作业。</a>
						</td>
						<td>2016-11-16 11:50</td>


						<td>
							<a href="/detail-1" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">详情</a>
							<a href="/manage/article_edit_1" class="layui-btn layui-btn-mini">编辑</a>
							<a href="javascript:;" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center;"><i class="layui-icon" style="color:green;"></i></td>
						<td>Layui</td>
						<td>
							<a href="/manage/article_edit_1">考试</a>
						</td>
						<td>2016-11-16 11:50</td>


						<td>
							<a href="/detail-1" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">详情</a>
							<a href="/manage/article_edit_1" class="layui-btn layui-btn-mini">编辑</a>
							<a href="javascript:;" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</fieldset>
	<div class="admin-table-page">
		<div id="page" class="page">
		</div>
	</div>
</div>
<script type="text/javascript" src="plugins/layui/layui.js"></script>
<script>
	layui.config({
		base: 'plugins/layui/modules/'
	});

	layui.use(['icheck', 'laypage','layer'], function() {
		var $ = layui.jquery,
			laypage = layui.laypage,
			layer = parent.layer === undefined ? layui.layer : parent.layer;
		$('input').iCheck({
			checkboxClass: 'icheckbox_flat-green'
		});

		//page
		laypage({
			cont: 'page',
			pages: 25 //总页数
				,
			groups: 5 //连续显示分页数
				,
			jump: function(obj, first) {
				//得到了当前页，用于向服务端请求对应数据
				var curr = obj.curr;
				if(!first) {
					//layer.msg('第 '+ obj.curr +' 页');
				}
			}
		});

		$('#add').on('click', function() {
			$.get('/addrecord/simple', null, function(form) {
				layer.open({
					type: 1,
					title: 'Add Memo Entry',
					content: form,
					area: ['600px', '200px'],
					maxmin: true,
					yes: function(index) {
						console.log(index);
					},
					full: function(elem) {
						var win = window.top === window.self ? window : parent.window;
						$(win).on('resize', function() {
							var $this = $(this);
							elem.width($this.width()).height($this.height()).css({
								top: 0,
								left: 0
							});
							elem.children('div.layui-layer-content').height($this.height() - 95);
						});
					}
				});
			});
		});

		$('#import').on('click', function() {
			var that = this;
			var index = layer.tips('只想提示地精准些', that,{tips: [1, 'white']});
			$('#layui-layer'+index).children('div.layui-layer-content').css('color','#000000');
		});

		$('.site-table tbody tr').on('click', function(event) {
			var $this = $(this);
			var $input = $this.children('td').eq(0).find('input');
			$input.on('ifChecked', function(e) {
				$this.css('background-color', '#EEEEEE');
			});
			$input.on('ifUnchecked', function(e) {
				$this.removeAttr('style');
			});
			$input.iCheck('toggle');
		}).find('input').each(function() {
			var $this = $(this);
			$this.on('ifChecked', function(e) {
				$this.parents('tr').css('background-color', '#EEEEEE');
			});
			$this.on('ifUnchecked', function(e) {
				$this.parents('tr').removeAttr('style');
			});
		});
		$('#selected-all').on('ifChanged', function(event) {
			var $input = $('.site-table tbody tr td').find('input');
			$input.iCheck(event.currentTarget.checked ? 'check' : 'uncheck');
		});
	});

	function add_item(){
		// It's very trick to get the parent's elements
		$('#main_iframe', parent.document).attr('src','/addrecord')
	}
</script>
